.vscode/**
.vscode-test/**
node_modules/**
webview/src/**
webview/node_modules/**
webview/webpack.config.js
webview/tsconfig.json
src/**
.gitignore
.yarnrc
webpack.config.js
tsconfig.json
vsc-extension-quickstart.md
**/*.map
**/.eslintrc.json
**/*.ts